<a href="{{ service.choicesUrl }}"><span style="font-size: 22px; font-weight: 600; ">{{ service.name }}</span></a> <a href="{{ service.mapUrl }}">(View on map)</a><br />
<span style="font-size:14px;">{{ service.distance }} miles away</span><br />
{{ service.address }}<br />
Telephone: <a href="tel:{{ service.tel }}"></a>{{ service.tel }}
<br /><br />
{{> (partial service.snip) }}
{{> (partial service.openingTimes) }}

<br /><br />