<span>{{ service.name }}</span></a> <a href="{{ service.mapUrl }}">(View on map)</a><br />
<span>{{service.distance}} miles away</span><br />
{{ service.address }}<br />
Telephone: <a href="tel:{{ service.tel }}"></a>{{ service.tel }}
{{> (partial service.snip) pickup=pickup location=location}}
{{> (partial service.openingTimes) pickup=pickup location=location}}

{{#if service.bookingUrl }}
    <p><a href="{{ service.bookingUrl }}"><button class="button">Book an appointment</button></a></p>
{{/if}}

<br /><br />