<!-- Start of check boxes -->
<form class="form" id="pageform" method="get">

    <div class="form-group">
        <fieldset>
            <legend class="strong">

            </legend>

            <div class="multiple-choice__container">
                <label for="checkbox-1" class="multiple-choice multiple-choice--checkbox">
                    <input id="checkbox-1" class="multiple-choice__input" type="checkbox" name="{{ checkbox-name }}" value={{ checkbox-1-value }} >
                    {{ checkbox-1 }}
                </label>
                <label for="checkbox-2" class="multiple-choice multiple-choice--checkbox">
                    <input id="checkbox-2" class="multiple-choice__input" type="checkbox" name="{{ checkbox-name }}" value={{ checkbox-2-value }} >
                    {{ checkbox-2 }}
                </label>
                <label for="checkbox-3" class="multiple-choice multiple-choice--checkbox">
                    <input id="checkbox-3" class="multiple-choice__input" type="checkbox" name="{{ checkbox-name }}" value={{ checkbox-3-value }} >
                    {{ checkbox-3 }}
                </label>
                <label for="checkbox-4" class="multiple-choice multiple-choice--checkbox">
                    <input id="checkbox-4" class="multiple-choice__input" type="checkbox" name="{{ checkbox-name }}" value={{ checkbox-4-value }} >
                    {{ checkbox-4 }}
                </label>
                <label for="checkbox-5" class="multiple-choice multiple-choice--checkbox">
                    <input id="checkbox-5" class="multiple-choice__input" type="checkbox" name="{{ checkbox-name }}" value={{ checkbox-5-value }} >
                    {{ checkbox-5 }}
                </label>
            </div>
        </fieldset>

    </div>

    <input type="submit" class="button" value="Continue">

</form>
<!-- End of check boxes  -->